In [237]:
# preprocesado y limpieza del dataset, balanceo de clases
# gerardo herrera

In [238]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/pump-sensor-data/sensor.csv

In [239]:
sensor = pd.read_csv('../input/pump-sensor-data/sensor.csv')

In [240]:
print(sensor.shape)

(220320, 55)

In [241]:
sensor['machine_status'].value_counts()

NORMAL        205836
RECOVERING     14477
BROKEN             7
Name: machine_status, dtype: int64

In [242]:
#Show the number of missing (NAN, NaN, na) data for each column
sensor.isnull().sum()

Unnamed: 0             0
timestamp              0
sensor_00          10208
sensor_01            369
sensor_02             19
sensor_03             19
sensor_04             19
sensor_05             19
sensor_06           4798
sensor_07           5451
sensor_08           5107
sensor_09           4595
sensor_10             19
sensor_11             19
sensor_12             19
sensor_13             19
sensor_14             21
sensor_15         220320
sensor_16             31
sensor_17             46
sensor_18             46
sensor_19             16
sensor_20             16
sensor_21             16
sensor_22             41
sensor_23             16
sensor_24             16
sensor_25             36
sensor_26             20
sensor_27             16
sensor_28             16
sensor_29             72
sensor_30            261
sensor_31             16
sensor_32             68
sensor_33             16
sensor_34             16
sensor_35             16
sensor_36             16
sensor_37             16
sensor_38             27
sensor_39             27
sensor_40             27
sensor_41             27
sensor_42             27
sensor_43             27
sensor_44             27
sensor_45             27
sensor_46             27
sensor_47             27
sensor_48             27
sensor_49             27
sensor_50          77017
sensor_51          15383
machine_status         0
dtype: int64

In [243]:
# sensores con unidades conocidas, version dos de npantawee
#X=sensor[['sensor_00', 'sensor_01', 'sensor_02', 'sensor_03','sensor_04', 'sensor_11', 'sensor_14', 'sensor_16', 'sensor_17', 'sensor_18', 'sensor_19', 'sensor_20','sensor_21', 'sensor_22', 'sensor_23', 'sensor_25', 'sensor_26','sensor_27', 'sensor_28', 'sensor_30', 'sensor_31', 'sensor_44','sensor_50', 'sensor_51']]

In [244]:
# borrar todos los demas sensores

In [245]:
sensor.drop(['sensor_05'], axis=1, inplace=True); sensor.drop(['sensor_06'], axis=1, inplace=True)

In [246]:
sensor.drop(['sensor_07'], axis=1, inplace=True); sensor.drop(['sensor_08'], axis=1, inplace=True)

In [247]:
sensor.drop(['sensor_09'], axis=1, inplace=True); sensor.drop(['sensor_10'], axis=1, inplace=True)

In [248]:
sensor.drop(['sensor_12'], axis=1, inplace=True); sensor.drop(['sensor_13'], axis=1, inplace=True)

In [249]:
# sensor sin data en en el dataset, segun esta rota la comunicacion
sensor.drop(['sensor_15'], axis=1, inplace=True);

In [250]:
sensor.drop(['sensor_24'], axis=1, inplace=True); sensor.drop(['sensor_29'], axis=1, inplace=True)

In [251]:
sensor.drop(['sensor_32'], axis=1, inplace=True); sensor.drop(['sensor_33'], axis=1, inplace=True)

In [252]:
sensor.drop(['sensor_34'], axis=1, inplace=True); sensor.drop(['sensor_35'], axis=1, inplace=True)

In [253]:
sensor.drop(['sensor_36'], axis=1, inplace=True); sensor.drop(['sensor_37'], axis=1, inplace=True)

In [254]:
sensor.drop(['sensor_38'], axis=1, inplace=True); sensor.drop(['sensor_39'], axis=1, inplace=True)

In [255]:
sensor.drop(['sensor_40'], axis=1, inplace=True); sensor.drop(['sensor_41'], axis=1, inplace=True)

In [256]:
sensor.drop(['sensor_42'], axis=1, inplace=True); sensor.drop(['sensor_43'], axis=1, inplace=True)

In [257]:
sensor.drop(['sensor_45'], axis=1, inplace=True); sensor.drop(['sensor_46'], axis=1, inplace=True)

In [258]:
sensor.drop(['sensor_47'], axis=1, inplace=True); sensor.drop(['sensor_48'], axis=1, inplace=True)

In [259]:
sensor.drop(['sensor_49'], axis=1, inplace=True)

In [260]:
# dataset con solo sensores con unidades conocidas
print(sensor.shape)

(220320, 27)

In [261]:
# numero de instancias por clase
sensor['machine_status'].value_counts()

NORMAL        205836
RECOVERING     14477
BROKEN             7
Name: machine_status, dtype: int64

In [262]:
sensor.describe()

,Unnamed: 0,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_11,sensor_14,sensor_16,sensor_17,...,sensor_23,sensor_25,sensor_26,sensor_27,sensor_28,sensor_30,sensor_31,sensor_44,sensor_50,sensor_51
count,220320.000000,210112.000000,219951.000000,220301.000000,220301.000000,220301.000000,220301.000000,220299.000000,220289.000000,220274.000000,...,220304.000000,220284.000000,220300.000000,220304.000000,220304.000000,220059.000000,220304.00000,220293.000000,143303.000000,204937.000000
mean,110159.500000,2.372221,47.591611,50.867392,43.752481,590.673936,41.918319,376.860041,416.472892,421.127517,...,922.609264,649.144799,786.411781,501.506589,851.690339,614.596442,863.32310,42.656877,183.049260,202.699667
std,63601.049991,0.412227,3.296666,3.666820,2.418887,144.023912,13.056425,113.206382,126.072642,129.156175,...,291.835280,220.865166,246.663608,169.823173,313.074032,195.726872,283.54476,11.576355,65.258650,109.588607
min,0.000000,0.000000,0.000000,33.159720,31.640620,2.798032,0.000000,32.409550,0.000000,0.000000,...,0.000000,0.000000,43.154790,0.000000,4.319347,0.000000,23.95833,25.752316,27.488426,27.777779
25%,55079.750000,2.438831,46.310760,50.390620,42.838539,626.620400,38.856420,418.103250,459.453400,454.138825,...,950.922400,693.957800,790.489575,448.297950,782.682625,627.777800,839.06240,36.747684,167.534700,179.108800
50%,110159.500000,2.456539,48.133678,51.649300,44.227428,632.638916,45.363140,420.106200,462.856100,462.020250,...,981.925000,740.203500,861.869600,494.468450,967.279850,668.981400,917.70830,40.509260,193.865700,197.338000
75%,165239.250000,2.499826,49.479160,52.777770,45.312500,637.615723,49.656540,420.997100,464.302700,466.857075,...,1090.808000,750.357125,919.104775,536.274550,1043.976500,697.222200,981.24990,45.138890,219.907400,216.724500
max,220319.000000,2.549016,56.727430,56.032990,48.220490,800.000000,60.000000,500.000000,739.741500,599.999939,...,1227.564000,839.575000,1214.420000,2000.000000,1841.146000,1600.000000,1800.00000,1000.000000,1000.000000,1000.000000

In [263]:
#Show the number of missing (NAN, NaN, na) data for each column
sensor.isnull().sum()

Unnamed: 0            0
timestamp             0
sensor_00         10208
sensor_01           369
sensor_02            19
sensor_03            19
sensor_04            19
sensor_11            19
sensor_14            21
sensor_16            31
sensor_17            46
sensor_18            46
sensor_19            16
sensor_20            16
sensor_21            16
sensor_22            41
sensor_23            16
sensor_25            36
sensor_26            20
sensor_27            16
sensor_28            16
sensor_30           261
sensor_31            16
sensor_44            27
sensor_50         77017
sensor_51         15383
machine_status        0
dtype: int64

In [264]:
index_names = sensor[ sensor['machine_status'] == "" ].index 
  
# drop these row indexes 
# from dataFrame 
sensor.drop(index_names, inplace = True)

In [265]:
print(sensor.shape)

(220320, 27)

In [266]:
#Show the number of missing (NAN, NaN, na) data for each column
sensor.isnull().sum()

Unnamed: 0            0
timestamp             0
sensor_00         10208
sensor_01           369
sensor_02            19
sensor_03            19
sensor_04            19
sensor_11            19
sensor_14            21
sensor_16            31
sensor_17            46
sensor_18            46
sensor_19            16
sensor_20            16
sensor_21            16
sensor_22            41
sensor_23            16
sensor_25            36
sensor_26            20
sensor_27            16
sensor_28            16
sensor_30           261
sensor_31            16
sensor_44            27
sensor_50         77017
sensor_51         15383
machine_status        0
dtype: int64

In [267]:
# hacer un dataset balanceado de recovering=14000 y de normal=14000, descartar broken

In [268]:
sensor['machine_status'].value_counts()

NORMAL        205836
RECOVERING     14477
BROKEN             7
Name: machine_status, dtype: int64

In [269]:
# cuenta las instancias de la clase recovering

sensor[sensor.machine_status == "RECOVERING"].shape[0]

14477

In [270]:
sensor.sort_values(by='machine_status', ascending=False, na_position='first')

,Unnamed: 0,timestamp,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_11,sensor_14,sensor_16,...,sensor_25,sensor_26,sensor_27,sensor_28,sensor_30,sensor_31,sensor_44,sensor_50,sensor_51,machine_status
17780,17780,2018-04-13 08:20:00,NaN,46.310760,49.001740,42.534721,3.104745,1.485116,410.1883,452.0932,...,650.2670,753.6035,550.74420,1130.7930,674.5370,983.8541,32.98611,33.854170,34.432869,RECOVERING
134357,134357,2018-07-03 07:17:00,NaN,32.725693,33.463539,32.378471,3.451967,0.086806,425.1006,467.9578,...,758.3536,914.8235,504.08330,1057.0800,725.4630,950.5208,27.19907,27.777779,27.777780,RECOVERING
134349,134349,2018-07-03 07:09:00,NaN,32.725693,33.463539,32.378471,3.567708,0.090892,421.6661,468.4292,...,761.2270,920.0796,487.94560,1042.9670,691.6666,997.9166,27.19907,27.777780,27.777780,RECOVERING
134350,134350,2018-07-03 07:10:00,NaN,32.725693,33.463539,32.378471,3.145254,0.103870,425.5432,470.2989,...,765.2451,926.8539,494.68710,1037.9170,700.9259,1032.2920,27.48843,27.777780,27.777780,RECOVERING
134351,134351,2018-07-03 07:11:00,NaN,32.725693,33.463539,32.378471,3.451967,0.087285,425.0621,470.4240,...,762.5109,918.4527,486.60340,1053.7270,667.5926,1005.7290,27.19907,28.067130,28.067130,RECOVERING
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17155,17155,2018-04-12 21:55:00,0.000000,53.342010,52.821180,43.402775,202.526031,3.625588,407.4979,451.3286,...,653.9383,753.0676,570.81680,1161.1310,710.6481,960.9374,50.92593,401.909700,324.652800,BROKEN
69318,69318,2018-05-19 03:18:00,2.258796,47.265630,52.734370,43.446178,200.115738,43.623220,420.3359,463.0843,...,719.8438,867.5176,551.63670,1154.4050,655.5555,1024.4790,35.01157,246.238400,257.523100,BROKEN
128040,128040,2018-06-28 22:00:00,0.364005,40.190970,45.225690,40.190971,201.368622,1.960537,197.9393,206.4634,...,143.1029,156.3189,21.31752,258.0632,297.2222,575.0000,28.06713,32.407406,NaN,BROKEN
166440,166440,2018-07-25 14:00:00,2.318808,45.833332,52.994790,43.880210,420.503448,50.046190,420.8600,463.5181,...,740.6738,981.4561,490.77280,1023.1660,703.7037,971.8749,52.10200,NaN,205.729200,BROKEN
24510,24510,2018-04-18 00:30:00,1.093982,42.534720,47.699650,41.449650,206.038757,30.434710,420.0946,460.7847,...,650.4600,748.0622,502.59550,1063.0030,671.2963,1016.6670,34.72222,177.662000,183.738400,BROKEN

In [271]:
sensor.head()

,Unnamed: 0,timestamp,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_11,sensor_14,sensor_16,...,sensor_25,sensor_26,sensor_27,sensor_28,sensor_30,sensor_31,sensor_44,sensor_50,sensor_51,machine_status
0,0,2018-04-01 00:00:00,2.465394,47.09201,53.2118,46.310760,634.3750,47.52422,419.5747,461.8781,...,741.7151,848.0708,429.0377,785.1935,594.4445,682.8125,39.641200,243.0556,201.3889,NORMAL
1,1,2018-04-01 00:01:00,2.465394,47.09201,53.2118,46.310760,634.3750,47.52422,419.5747,461.8781,...,741.7151,848.0708,429.0377,785.1935,594.4445,682.8125,39.641200,243.0556,201.3889,NORMAL
2,2,2018-04-01 00:02:00,2.444734,47.35243,53.2118,46.397570,638.8889,48.17723,420.8480,462.7798,...,740.8031,849.8997,454.2390,778.5734,661.5740,721.8750,39.351852,241.3194,203.7037,NORMAL
3,3,2018-04-01 00:03:00,2.460474,47.09201,53.1684,46.397568,628.1250,48.65607,420.7494,462.8980,...,739.2722,847.7579,474.8731,779.5091,686.1111,754.6875,39.062500,240.4514,203.1250,NORMAL
4,4,2018-04-01 00:04:00,2.445718,47.13541,53.2118,46.397568,636.4583,49.06298,419.8926,461.4906,...,737.6033,846.9182,408.8159,785.2307,631.4814,766.1458,38.773150,242.1875,201.3889,NORMAL

In [272]:
#index_names = sensor[ (sensor.machine_status == "RECOVERING") & ( sensor['machine_status'].value_counts().lt(3))].index 

#index_names = sensor[ (sensor.machine_status == "RECOVERING") & (sensor.value_counts()>200000)].index 
  
# drop these given row 
# indexes from dataFrame 
#sensor.drop(index_names, inplace = True)

In [273]:
sensor[sensor.machine_status == "RECOVERING"].shape[0]

14477

In [274]:
print(len(sensor))

220320

In [275]:
dios77 = sensor.sort_values(by=['machine_status'])
dios77.head(3)
#dios77.tail(3)

,Unnamed: 0,timestamp,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_11,sensor_14,sensor_16,...,sensor_25,sensor_26,sensor_27,sensor_28,sensor_30,sensor_31,sensor_44,sensor_50,sensor_51,machine_status
24510,24510,2018-04-18 00:30:00,1.093982,42.53472,47.69965,41.449650,206.038757,30.434710,420.0946,460.7847,...,650.4600,748.0622,502.59550,1063.0030,671.2963,1016.667,34.72222,177.662000,183.7384,BROKEN
128040,128040,2018-06-28 22:00:00,0.364005,40.19097,45.22569,40.190971,201.368622,1.960537,197.9393,206.4634,...,143.1029,156.3189,21.31752,258.0632,297.2222,575.000,28.06713,32.407406,NaN,BROKEN
69318,69318,2018-05-19 03:18:00,2.258796,47.26563,52.73437,43.446178,200.115738,43.623220,420.3359,463.0843,...,719.8438,867.5176,551.63670,1154.4050,655.5555,1024.479,35.01157,246.238400,257.5231,BROKEN

In [276]:
dios77.tail(3)

,Unnamed: 0,timestamp,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_11,sensor_14,sensor_16,...,sensor_25,sensor_26,sensor_27,sensor_28,sensor_30,sensor_31,sensor_44,sensor_50,sensor_51,machine_status
25858,25858,2018-04-18 22:58:00,NaN,38.671880,39.019100,35.243050,3.608217,0.000000,406.8514,449.2594,...,649.7452,750.4139,544.6667,1195.642,660.1852,928.1249,29.224537,34.432870,34.722220,RECOVERING
25848,25848,2018-04-18 22:48:00,NaN,38.585070,38.932290,35.112846,3.608217,0.000000,406.0496,449.3675,...,648.0549,747.8085,525.6373,1204.094,652.7778,944.7916,29.224540,34.722221,35.011574,RECOVERING
131489,131489,2018-07-01 07:29:00,NaN,33.897568,36.979164,33.810764,3.029514,0.069444,421.0815,462.6224,...,758.4230,919.6776,496.6206,1065.740,722.6852,1089.0630,26.041666,27.777779,1000.000000,RECOVERING

In [277]:
dios77['machine_status'].value_counts()

NORMAL        205836
RECOVERING     14477
BROKEN             7
Name: machine_status, dtype: int64

In [278]:
# se esta eliminado las instancias de la clase broken para poder balancear el dataset
dios77 = dios77[7:]
#dios77 = dios77.drop(index<=6)

In [279]:
dios77['machine_status'].value_counts()

NORMAL        205836
RECOVERING     14477
Name: machine_status, dtype: int64

In [280]:
# vamos a balancear las clases, quedarnos con la misma cantidad de cada una

In [281]:
# se separa en un dataset indepediente la clase NORMAL
normal = dios77[:205836]
normal['machine_status'].value_counts()

NORMAL    205836
Name: machine_status, dtype: int64

In [282]:
# se separa en un dataset indepediente la clase RECOVERING
recov = dios77[205836:]
recov['machine_status'].value_counts()

RECOVERING    14477
Name: machine_status, dtype: int64

In [283]:
# se vuelve a unir todas las clases para verificar que no se pierde ninguna instancia
#vertical_stack = pd.concat([survey_sub, survey_sub_last10], axis=0)
vertical_stack = pd.concat([normal, recov], axis=0)
vertical_stack['machine_status'].value_counts()

NORMAL        205836
RECOVERING     14477
Name: machine_status, dtype: int64

In [284]:
from random import randrange
#np.random.seed(randrange(100))

#remove_n = 190798

#drop_indices = np.random.choice(normal.index, remove_n, replace=False)
#normal = normal.drop(drop_indices)

In [285]:
# se elimina instancias del dataset con formato invalido en varias columnas, de la clase RECOVERING
recov=recov.dropna(subset=['sensor_01', 'sensor_02','sensor_03','sensor_04','sensor_11','sensor_44','sensor_50'])

In [286]:
recov['machine_status'].value_counts()

RECOVERING    14372
Name: machine_status, dtype: int64

In [287]:
normal.isnull().sum()

Unnamed: 0            0
timestamp             0
sensor_00            14
sensor_01           339
sensor_02            14
sensor_03            14
sensor_04            14
sensor_11            14
sensor_14            21
sensor_16            31
sensor_17            46
sensor_18            46
sensor_19            16
sensor_20            16
sensor_21            16
sensor_22            41
sensor_23            16
sensor_25            36
sensor_26            20
sensor_27            16
sensor_28            16
sensor_30           261
sensor_31            16
sensor_44            22
sensor_50         76936
sensor_51         12384
machine_status        0
dtype: int64

In [288]:
# se elimina instancias del dataset con formato invalido en varias columnas, de la clase NORMAL
normal=normal.dropna(subset=['sensor_01','sensor_30','sensor_22','sensor_51'])
normal['machine_status'].value_counts()

NORMAL    192877
Name: machine_status, dtype: int64

In [289]:
count_row = normal.shape[0] 
#normal.count
#print (normal.count)
print (count_row)

192877

In [290]:
# eliminamos instancias al azar hasta tener 14000 de la clase NORMAL
from random import randrange
import math
np.random.seed(randrange(100))

#remove_n = 477
remove_n = int(math.fabs(count_row - 14001))
#remove_n = int(math.fabs(count_row - 14000))
#df = pd.DataFrame({"a":[1,2,3,4], "b":[5,6,7,8]})
drop_indices = np.random.choice(normal.index, remove_n, replace=False)
normal = normal.drop(drop_indices)
normal['machine_status'].value_counts()

NORMAL    14001
Name: machine_status, dtype: int64

In [291]:
# eliminamos instancias al azar hasta tener 14000 de la clase RECOVERING
from random import randrange
np.random.seed(randrange(100))

remove_n = 371
#remove_n = 372
#df = pd.DataFrame({"a":[1,2,3,4], "b":[5,6,7,8]})
drop_indices = np.random.choice(recov.index, remove_n, replace=False)
recov = recov.drop(drop_indices)
recov['machine_status'].value_counts()

RECOVERING    14001
Name: machine_status, dtype: int64

In [292]:
# se unen las clases en un dataset ahora balanceado
juntos_stack = pd.concat([normal, recov], axis=0)
juntos_stack['machine_status'].value_counts()

NORMAL        14001
RECOVERING    14001
Name: machine_status, dtype: int64

In [293]:
dios77= juntos_stack

In [294]:
dios77['machine_status'].value_counts()

NORMAL        14001
RECOVERING    14001
Name: machine_status, dtype: int64

In [295]:
# se exporta a csv para luego usar en el entrenamiento de los modelos
dios77.to_csv('dios77-ordenado_status_sin_broken_balanced_28k_antes.csv',index=False)